@import '../../scss/lib/theme/vars';

nav {
  float: right;
  margin-right: 25px;

  .btn-std {
    margin-top: 10px;
    width: 125px;
    height: 30px;
    background-color: $white;
    color: $dark;
  }
}
