<section class="landing">
  <div class="join-container"
  ng-if="landingCtrl.showSignup">
    <div class="join-inner">
      <signup></signup>
      <div class="clearfix"></div>
      <a href="/#/join#login"
        ng-click="landingCtrl.showSignup=false">
          sign in here
      </a>
      <p>already a member?</p>
    </div>
  </div>

  <div class="join-container"
    ng-if="!landingCtrl.showSignup">
      <div class="join-inner">
        <login></login>
        <div class="clearfix"></div>
        <a href="/#join#signup"
        ng-click="landingCtrl.showSignup=true">
          sign up here
        </a>
        <p>want to sign up?</p>
      </div>
    </div>
</section>

<section class="test-section">
  <section class="accordion-test">
    <uib-accordion>
      <p uib-accordion-group class="panel-default" heading="stuff">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quis dolorum ducimus ea, itaque aut, ut sint aperiam voluptas commodi quo eum magni quasi suscipit voluptatibus minima! Nemo, numquam, dolorum?
      </p>
      <p uib-accordion-group class="panel-default" heading="things">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quis dolorum ducimus ea, itaque aut, ut sint aperiam voluptas commodi quo eum magni quasi suscipit voluptatibus minima! Nemo, numquam, dolorum?
      </p>
      <p uib-accordion-group class="panel-default" heading="last stuff">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quis dolorum ducimus ea, itaque aut, ut sint aperiam voluptas commodi quo eum magni quasi suscipit voluptatibus minima! Nemo, numquam, dolorum?
      </p>
    </uib-accordion>
  </section>
</section>
